.task-main-container {
  position: absolute;
  top: 40%;
  right: 40%;
  background-color: var(--tasks-container-bg);
  padding: 15px;
  border: 1px solid var(--txt-black);
  width: 13.75rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.task-details > h3 {
  margin: 10px;
  color: var(--txt-black);
}
.cancel-icon {
  position: absolute;
  top: 2px;
  right: 0px;
}
.pomodoro-task-input {
  padding: 8px;
  border-radius: 10px;
  border: none;
  width: 85%;
}
input:focus {
  outline: none !important;
  border-color: var(--border-focus);
  box-shadow: 0 0 10px var(--border-focus);
}
